{% extends 'base.html' %}

{% block title %}
    CROPS
{% endblock title %}
    
{% block content %}
<h1> CROP DETAILS </h1>

<body>
    <div class="details-page">
        <div class="row">
            <div class="col s6">
                <div class="crop-detail">
                    <p><strong>Crop:</strong> {{ crop.name }}</p>
                    <p><strong>Irrigation Needs:</strong> {{ crop.water_dependency }} inches per year</p>
                    <p><strong>Planting Season:</strong> {{ crop.growing_season }}</p>
                    <p><strong>Hardiness Zone:</strong> {{ crop.optimal_growing_conditions}}</p>
                    <p><strong>Maturity Days:</strong> {{ crop.average_growth_time}}</p>
                </div>
            </div>
        </div>
    </div>
</body>   
{% endblock content %}