{% extends 'base.html' %}

{% load static %} 

{% block title %}
    CROPS
{% endblock title %}
    

{% block content %}
<h1>CROPS</h1>


<body>
<div class="index-card">
  <div class="row">
    {% for c in crop %}
    <a href="{% url 'crop_detail' c.id %}">
      <div class="col s6">
        <div class="card">
          <div class="card-content">
            <p>Crop: {{ c.name }}</p>
            <p>Irrigation Needs: {{ c.water_dependency }} inches per year</p>
            <p>Planting Season: {{ c.growing_season }}</p>
            <p>Hardiness Zone: {{ c.optimal_growing_conditions}}</p>
            <p>Maturity Days: {{ c.average_growth_time}}</p>
          </div>
        </div>
      </div>
    </a>
    {% endfor %}
  </div>
</div>
</body>
{% endblock content %}

