{% extends 'base.html' %}

{% load static %} 

{% block title %}
    CROPS
{% endblock title %}
    

{% block content %}
<h1>CROPS</h1>


<body>
<div class="index-card">
  <div class="row">
    {% for c in crop %}
    <a href="{% url 'crops_detail' c.id %}">
      <div class="col s6">
        <div class="card">
          {% for p in c.photo_set.all %}
          <div class="card-image">
            <img src="{{p.url}}">
          </div>
          {% endfor %}
          <div class="card-content">
            <p>Crop: {{ c.name }}</p>
            <p>Irrigation Needs: about {{ c.irrigation_needs }} inches per season</p>
            <p>Planting Season: {{ c.planting_season }}</p>
            <p>Hardiness Zone: {{ c.hardiness_zone}}</p>
            <p>Maturity Days: {{ c.maturity_days}}</p>
          </div>
        </div>
      </div>
    </a>
    {% endfor %}
  </div>
</div>
</body>
{% endblock content %}

