{% extends 'base.html' %}

{% block title %}
    title
{% endblock title %}
    
{% block content %}
<h1> ANIMAL DETAILS </h1>

<body>
    <div class="details-page">
        <div class="row">
            <div class="col s4 offset-s2">
                <div class="photo">
                    
                    {% for photo in animal.photo_set.all %}
                    <img src="{{photo.url}}" alt="No Photo available" height="500" width="600">
                    {% endfor %}
                        
                </div>
            </div>
            <div class="col s5">
                <div class="animal-detail">
                    <p><strong>Name:</strong>{{animal.name}}</p>
                    <p><strong>Breed:</strong>{{animal.breed}}</p>
                    <p><strong>Living Conditions:</strong>{{animal.preferred_living_conditions}}</p>
                    <a href="{% url 'add_animal_farm' animal.id user.id %}"><button>Add to farm</button></a>
                </div>
            </div>
        </div>
        
        {% if user.is_authenticated and perms.main_app.add_photo %}
            
        <div class="row">
            <div class="col s1 offset-s2">
                <form action="{% url 'add_animal_photo' animal.id %}" enctype="multipart/form-data" method="POST">
                    {% csrf_token %}
                    <input type="file" name="photo_file">
                    <br><br>
                    <input type="submit" class="upload-photo" value="Upload Photo">
                </form>
            </div>
            <div class="col s1 offset-s1">
                <a href="{% url 'animals_update' animal.id%}">
                    <button>Update Animal</button>
                </a>
            </div>
            <div class="col s6 offset-s3">
            {% else %}
            <div class="col s6 offset-s6">
            {% endif %}
                
                <div class="comments">
                    
                    {% if comment %}
                    {% for c in comment %}
                    <p>{{c.comment}}</p>
                    <p>{{c.user.name}}</p><span>{{c.date}}</span><span>{{c.vote}}</span>
                    <div>
                        <a href="{% url 'animal_comment_delete' animal.id c.id %}"><button>DELETE COMMENT</button></a>
                    </div>
                    {% endfor %}
                    
                    {% else %}
                        <p>No comments yet.</p>
                        
                        {% if user %}
                        {% else %}
                            <span> Sign in to leave a comment.</span>
                        {% endif %}
                            
                    {% endif %}
                        
                </div>
                <div class="comment">
                    <form action="{% url 'animals_new_comment' animal.id%}" method="POST">
                        {% csrf_token %}
                        <textarea name="comment" id="comment" cols="10" rows="5"></textarea>
                        <input type="submit" value="ADD COMMENT">
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>   
{% endblock content %}