{% extends 'base.html' %} 
{% load static %} 
{% block title %} 
LIVESTOCK 
{%endblock title %} 
{% block content %}
<h1>LIVESTOCK</h1>

<body>
<div class="index-card">
  <div class="row">
    {% for a in animal %}
    <a href="{% url 'animals_detail' a.id %}">
      <div class="col s6">
        <div class="card">
          <div class="card-content">
            <p>Animal: {{ a.name }}</p>
            <p>Breed: {{ a.breed }}</p>
          </div>
        </div>
      </div>
    </a>
    {% endfor %}
  </div>
</div>
</body>
{% endblock content %}
