{% extends 'base.html' %}
{% load static %}


{% block title %}
    LIVESTOCK
{% endblock title %}
    

{% block content %}
<h1> LIVESTOCK </h1>

<body>
    {% for a in animal %}
    <div class="col row">
        <div class="card-div">
          <a href="{% url 'animals_detail' a.id %}">
          <div class="card col s12 m6">
            <div class="card-content">
              <p>Animal: {{ a.name }}</span>
              <p>Breed: {{ a.breed }}</p>
              <p>Preferred Living Conditions: {{ a.preferred_living_conditions }}</p>
            </div>
          </div>
          </a>
        </div>
    </div>
{% endfor %}
</body>
{% endblock content %}
    