{% extends 'base.html' %}


{% block title %}
    Profile
{% endblock title %}
    

{% block content %}
    <body>
        <h1>User Profile</h1>
        <div class="row">
            <div class="col s2 amber lighten-1">
                    <p>Username: {{user.username}}</p>
                    {% if user.farm %}
                    <p>{{user.farm.farm_name}}</p>
                    {% else %}
                    <p>No farm yet</p>
                    <a href="{% url 'new_farm' user.id%}"><button>Add a farm</button></a>
        {% endif %}
                       
            </div>
        </div>
        <div class="row">
            <div class="col s2 offset-s3 grey lighten-2">
                {% if animal %}
                    
                    {% for a in animal  %}
                        <p>{{a.name}} - {{a.breed}}</p><span><a href="{% url 'remove_animal_farm' a.id user.id %}"><button>Remove Animal</button></a></span>
                    {% endfor %}
                        
                {% else %}
                    <p>No animals yet</p>
                {% endif %}
            </div> 
            <div class="col s2 offset-s1 grey lighten-2">
                {% if crop %}
                    
                    {% for c in crop  %}
                        <p>{{c.name}}</p><span><a href="{% url 'remove_crop_farm' c.id user.id %}"><button>Remove Crop</button></a></span>
                    {% endfor %}
                        
                {% else %}
                    <p>No crops yet</p>
                {% endif %}
            </div> 
            <div class="col s2 offset-s1 grey lighten-2">
                {% if equipment %}
                    
                    {% for e in equipment  %}
                        <p>{{e.make}} - {{e.model}}</p><span><a href="{% url 'remove_equipment_farm' e.id user.id %}"><button>Remove Equipment</button></a></span>
                    {% endfor %}
                        
                {% else %}
                    <p>No equipment yet</p>
                {% endif %}
            </div> 
        </div>
                        
    </body>
{% endblock content %}