{% extends 'base.html' %}

{% block title %}
    ABOUT
{% endblock title %}
    
{% block content %}
<h1>HARVEST HOMESTEAD</h1>
<h3>Farming Community</h3>

<p>We are proud to announce that Migdelina Buelna, Nick Morganelli, and Brett Schoff are the creators of this innovative site. Their passion for farming and technology led them to create an application that addresses the biggest problem in the farming world today: the separation of resources online. With most farming resources being isolated to specific apps or websites, farmers are forced to spend more time online searching for information and less time working on their farms.</p>
<p>To combat this issue, our solution is to create an application that combines all the necessary information for farming in one place. By consolidating the information, farmers will no longer have to spend countless hours searching for resources. Instead, they can tend to their farms more efficiently and effectively. Additionally, our application will be a valuable resource for those new to the farming community, providing them with all the information they need to start and grow in the industry.</p>
<p>We are confident that our application will revolutionize the way farmers access information and resources. Our commitment to providing a one-stop-shop for farming resources will ensure that farmers can focus on what they do best: growing and producing quality crops and livestock.</p> <br>
{% endblock content%}