{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'css/style.css' %}"
    />
    <title>{% block title%} {% endblock title %}</title>
  </head>
  <body>
    <header class="banner">
      <div>
        <ul id="login">
          {% if user.is_authenticated %}
          <li><a href="{% url 'logout' %}">LOGOUT</a></li>
          {% else %}
         <li><a href="{% url 'login' %}">LOGIN</a></li>
          <li><a href="#">SIGNUP</a></li>
          {% endif %}
        </ul><br>
      </div>
    <h5 class="banner-title"> HARVEST HOMESTEAD </h5>
  </header>
    <nav id="navigation-bar">
        <div class="nav-wrapper">
          <ul>
            <li><a href="{% url 'home' %}"> HOME </a></li>
            <li><a href="{% url 'about' %}">ABOUT</a></li>
            <li><a href="{% url 'animals_index' %}">LIVESTOCK</a></li>
            <li><a href="#"> FEED </a></li>
            <li><a href="#"> EQUIPMENT </a></li>
            {% if user.is_authenticated %}
            <li><a href="{% url 'animals_create' %}">ADD LIVESTOCK</a></li>
            {% endif %}
          </ul>
        </div>
      </nav>
    {% block content %} 
    {% endblock content %}
    <footer>
      <p>footer</p>
    </footer>
  </body>
</html>
