/* BASE */

body {
  min-height: 100vh;
  width: 100%;
  text-align: center;
}

.banner {
  background-image: url(https://cdn.shopify.com/s/files/1/0310/2179/3325/articles/horse_in_pasture_1280x.jpg?v=1676651375);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  height: 400px;
  width: 100%;
  color: white;
  font-family: "Londrina Outline", cursive;
}

.banner-title {
  padding-top: 110px;
}

#login {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  margin-top: 0;
  padding: 30px 40px 0 0 ;
}

a { 
  color: inherit; 
} 

nav {
  display: flex;
  justify-content: center;
  background-color: #14110c;
}

footer {
  display: flex;
  flex-direction: row;
  width: 100%;
  background-color: #14110c;
  color: white;
}

.footer-title {
  display: flex;
  align-items: center;
  padding-left: 30px;
}

#emails {
  display: flex;
  justify-content: flex-end;
  width: 85%;
}

/* HOMEPAGE */

.responsive-img {
  max-width: 100%;
  height: auto;
}

#homepage-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
 } 

#resource-livestock {
  padding-left: 300px; 
} 

#resource-size {
  padding-right: 0;
}