{% extends 'base.html' %}

{% block title %}
    EQUIPMENT
{% endblock title %}
    
{% block content %}
<h1> EQUIPMENT DETAILS </h1>

<body>
    <div class="details-page">
        <div class="row">
            <div class="col s5">
                <div class="equipment-detail">
                    <p><strong>Make:</strong>{{ equipment.make }}</p>
                    <p><strong>Model:</strong>{{ equipment.model }}</p>
                    <p><strong>Hydraulics:</strong>{{ equipment.hydraulic_rating }}</p>
                    <p><strong>Year:</strong>{{ equipment.year }}</p>
                    <p><strong>Color:</strong>{{ equipment.color }}</p>
                    <p><strong>Description:</strong>{{ equipment.description }}</p>
                    <p><strong>Fuel Type:</strong>{{ equipment.fuel_type }}</p>
                    <p><strong>Engine Info:</strong>{{ equipment.engine_information }}</p>
                </div>
                <div class="btn yellow darken-3 white-text">
                    <a href="{% url 'equipment_update' equipment.id %}">Edit Equipment</a>
                </div>
                <div>
                    <a href="{% url 'equipment_comment_delete' equipment.id c.id %}"><button>DELETE COMMENT</button><a></a></div>
            </div>
        </div>
        <div class="comments">
                    
            {% if comment %}
            {% for c in comment %}
            <p>{{c.comment}}</p>
            <p>{{c.user.name}}</p><span>{{c.date}}</span><span>{{c.vote}}</span>
            {% endfor %}
            
            {% else %}
                <p>No comments yet.</p>
                
                {% if user %}
                {% else %}
                    <span> Sign in to leave a comment.</span>
                {% endif %}
                    
            {% endif %}
                
        </div>
        <div class="comment">
            <form action="{% url 'equipment_new_comment' equipment.id%}" method="POST">
                {% csrf_token %}
                <textarea name="comment" id="comment" cols="10" rows="5"></textarea>
                <input type="submit" value="Leave review">
            </form>
        </div>
        </div>
    </div>
</body>   
{% endblock content %}